
div #detailedCard{
    text-align: left;
}

.landingImage{
    z-index: 0;
}

.landingText{
    position: relative;
    z-index: 1;
    text-align: center;
}

nav{
    z-index: 1;
}

#Error{
    width: 10rem;
    padding-left: 10px;
}
